*{
    font-family: 'Montserrat', sans-serif;;
}

.navbar {
    padding: 20px;
    background-color: #313e4f;
    border: none;
}

.navbar-default .navbar-brand {
    color:white;
    font-weight: 600;
    font-size: 25px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 600;
}
.avatar{
    width: 200px;
    padding-top: 150px;
    margin: auto;
    display: block;
}

.jumbotron .fas {
    font-size: 30px;
    color: white;
    margin: 0 10px;
}

.star {
    width: 250px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.star::before,
.star::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 60px) / 2);
    height: 3px;
    background-color: white;
}

.star::before {
    left: 0;
}

.star::after {
    right: 0;
}

.jumbotron{
    background-color: #66ba9e;
    padding-bottom: 100px;
    color: white;
}

.jumbotron h1 {
    font-weight: 600;
}

.jumbotron p {
    font-weight: 400;
}

#hamburger .fas {
    color:white;
    font-size: 30px;
    padding-top: 10px;
    float: right;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: lightgrey;
}

#menu a:hover{
    color: lightgrey;
}
